* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Sarabun', sans-serif;
    
}
p.normal {
    font-style: normal;
    font-weight: bold;
}
p.italic {
    font-style: italic;
    font-weight: bold;
}
div > div > p {
    font-style: larger;
}